# Secrets
.env
*.pem
*.key

# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
.venv/

# Données locales
*.log
*.sqlite
*.pbix

# Éditeurs et système
.vscode/
.idea/
.DS_Store
Thumbs.db
powerbi/rapport-itsm.SemanticModel/.pbi/cache.abf
powerbi/rapport-itsm.SemanticModel/.pbi/localSettings.json
powerbi/rapport-itsm.Report/.pbi/localSettings.json
